name: Release

on:
  push:
    branches: [release]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  migrate:
    name: Database Migration
    uses: ./.github/workflows/release-migrate.yml
    secrets: inherit

  deploy-frontend:
    name: Deploy Frontend
    needs: migrate
    uses: ./.github/workflows/release-deploy-frontend.yml
    secrets: inherit

  deploy-backend:
    name: Deploy Backend
    needs: migrate
    uses: ./.github/workflows/release-deploy-backend.yml
    secrets: inherit

  deploy-workers:
    name: Deploy Workers
    needs: migrate
    uses: ./.github/workflows/release-deploy-workers.yml
    secrets: inherit

  release:
    name: Release
    needs: [deploy-frontend, deploy-backend, deploy-workers]
    uses: ./.github/workflows/release-tag.yml
    secrets: inherit
